<div class="meme-container">
  <img class="meme" src="{{ meme.image_url }}" alt="memelibre" loading="lazy" />
  <button onclick="sharePage(this)" data-id="{{ meme.id }}">
    🔗 Compartir
  </button>
</div>

<script>
  function sharePage(button) {
    const memeId = button.getAttribute("data-id");
    const shareUrl = `${window.location.origin}/meme/${memeId}`;
    if (navigator.share) {
      navigator
        .share({
          title: document.title,
          text: "¡Viva la libertad, carajo!",
          url: shareUrl,
        })
        .catch(() => {});
    } else {
      navigator.clipboard
        .writeText(shareUrl)
        .then(() => {
          showNotification("info", "Link copiado!");
        })
        .catch((err) => {
          showNotification("error", "Link no copiado");
        });
    }
  }
</script>
