{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/public/styles/home.css" />
{% endblock head %}

{% block body %}
    {% if memes %}
        {{ memes | safe }}
    {% else %}
        <p>NO HAY MEMES</p>
        <img src="public/assets/not_found.webp" alt="No hay plata meme"/>
    {% endif %}

    <div id="sentinel"></div>

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const sentinel = document.getElementById("sentinel");
        if (!sentinel) return;

        const loadMoreMemes = async (lastId) => {
          try {
            const response = await fetch(`{{ api_url }}/load_more/${lastId}`);
            const html = await response.text();
            sentinel.insertAdjacentHTML("beforebegin", html);
            showNotification();
          } catch (error) {
            showNotification("error", "Qué pasó ahora, la puta madre");
          }
        };

        const observer = new IntersectionObserver(
          (entries) => {
            if (!entries[0].isIntersecting) return;

            const memes = document.querySelectorAll(".meme-container");
            const lastMeme = memes[memes.length - 1] || null;
            const lastId = lastMeme?.querySelector("button")?.dataset.id;

            if (lastId) loadMoreMemes(lastId);
          },
          {
            root: null,
            rootMargin: "0px",
            threshold: 0,
          },
        );

        observer.observe(sentinel);
      });
    </script>
{% endblock body %}
