.meme-container {
	align-items: end;
	background-color: var(--white);
	border-radius: var(--spacing-small);
	display: flex;
	flex-direction: column;
	gap: var(--spacing-small);
	padding: var(--spacing-small);
}

.meme {
	max-height: 95vh;
	max-width: 100%;
}

.actions-container {
	display: flex;
	gap: var(--spacing-small);
	width: 100%;
}

.username {
	font-size: var(--font-small-size);
	color: var(--text-secondary);
}
