.navbar {
	align-items: center;
	background-color: var(--yellow);
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	padding: var(--spacing-base);
	width: 100%;
}

.navbar-items {
	display: flex;
	gap: var(--spacing-base);
	justify-content: center;
}

.user-actions-container {
	cursor: pointer;
	justify-content: right;
}

.logo {
	max-height: 32px;
}

.details {
	position: relative;
}

.user-actions {
	background-color: var(--dark-gray);
	border-radius: var(--border-radius-small);
	padding: var(--spacing-small);
	position: absolute;
	right: 0;
	text-align: right;
}

.user-actions-option {
	color: var(--white);
	display: inline-block;
	font-size: var(--font-small-size);
	width: 100%;
}

.user-actions-option:hover {
	color: var(--light-gray);
}
