#notification-container {
	background-color: var(--highlight-bg);
	bottom: 0;
	color: var(--text-primary);
	display: flex;
	font-size: var(--font-small-size) !important;
	justify-content: space-between;
	left: 0;
	padding: 0 var(--spacing-small);
	position: fixed;
	width: 100%;
	z-index: 10;
}

#notification-btn {
	cursor: pointer;
}
