.notification-container {
	align-items: center;
	bottom: 0;
	color: var(--text-primary);
	display: flex;
	font-size: var(--font-small-size) !important;
	justify-content: space-between;
	left: 0;
	padding: 0 var(--spacing-small);
	position: fixed;
	width: 100%;
	z-index: 10;
}

.error {
	background-color: var(--orange);
}

.info {
	background-color: var(--yellow);
}

.success {
	background-color: var(--green);
}

#notification-btn {
	all: unset;
	cursor: pointer;
}
